/* Navbar */

.navbar{
    background-color: #0d6efd;
}

.nav-link{
    color: white;
    padding-left: 0rem;
    padding-right: 0rem;
}

.navbar-nav .nav-link.active {
    font-weight: none;
    color: black;
}

.nav-link:hover{
    color: green;
}


/* Titulares */

h1 {
    font-size: 48px;
}

h2 {
    text-align: start;
    font-size: 36px;
}

.about-us_information{
    padding-bottom: 2rem;
}

h3 {
    text-align:start;
    font-size: 30px;
}


h4 {
    text-align:start;
    font-size: 24px;
}

h5 {
    font-size:16px;
    color:white;
}


.card-container {
    padding-bottom: 2rem;
}

.container-tittle{
    padding-bottom: 2rem;
}

/* Formulario */

.form {
    margin-top: 40px;
    margin-bottom: 40px;
}
.form-label {
    font-size: 21px;
    margin-bottom: 20px;
}

.form-control {
    font-size: 24px;
    padding: 20px;
}

.form-select {
    font-size: 24px;
    padding: 20px;
}


.button {
    display: grid;
    width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
}

.second-button {
    display: grid;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


.btn {
    font-size: 16px;
}

.btn btn-primary{
    display: inline-block;
    margin-top: 20px;
}

.terms{
    display: flex;
    align-items: center;
    text-align: center;
}

/* Música */



.row {
    margin-top: 20px;
    margin-bottom: 20px;
    row-gap: 20px;
    align-items: center;
    display:flex;
    flex-wrap: wrap;
}

.second-row {
    margin: 20px;
    row-gap: 20px;
    align-items: center;
    display:flex;
    flex-wrap: wrap;
}

.contenedor {
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid #232323;
}

.main {
    margin-top: 100px;
    margin-bottom: 100px;
}

.btn-primary{
    display:grid;
}

.card-body-product{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 0px;
}

.index-info{
    padding-left: 30px;
    padding-right: 15px;
}


/* Estilos de texto */

.card-text{
    font-size: 14px;
    padding: 0rem;
}

.text-body-secondary {
    font-size: 16px;
}

.d-grid {
    display: grid;
}

li{
    display: flex;
    padding-right: 25px;
}

.footer-container {
    background-color:#0d6efd;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer-container_name{
    align-items: center;
}

.footer-text{
    color:white;
    font-size: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.footer-nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0rem;
    padding: 0rem;
}

.link-index{
    text-decoration: none;
}

.footer-nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer_name{
    display:flex;
    justify-content:flex-start; 
    align-items:center;
}

.footer_name_text{
    padding-top: 0.5rem;
    padding-left: 1rem;
}

.blockquote-footer{
    font-size: 1rem;
    padding-top: 1rem;
}

.about-us_information-text {
    padding-right: 8rem;
}

.bx{
    color:white;
}

@media screen and (max-width: 992px){
    .footer-nav ul {
        justify-content: center;
    }

    .footer_name{
        display:grid;
        height: 100%;
        align-content: center;
        justify-content: center;

    }

    .footer_name_text{
        padding-top: 1rem;
        padding-left: 0rem;

    }
}