.container-information{
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.about-us {
    padding: 5rem;
}

.about-us_information {
    h2{
        text-align: start;
        margin-block-end: 4rem;
        margin-block-start: 0rem;
    }
    h3 {
        text-align: start;
        margin-block-end: 2rem;
        margin-block-start: 0rem;
    }
}

figure {
    blockquote{
        ul {
            li {
                font-family: 'Roboto Mono', monospace;
                font-weight: 500;
                font-size: 1.8rem;
                margin-block-end: 1rem;
                color: #1e1e1e;
                text-align:start;
            }
        }
    }
    .blockquote-footer {
        font-family: 'Roboto Mono', monospace;
        font-weight: 500;
        font-size: 1.6rem;
        margin-top: 1rem;
        margin-bottom: 6rem;
        color: rgb(108, 117, 125);
    }
}

.card-body {
    padding: 1rem;
}

.card-text {
    padding-top: 2rem;
}

.paragraph {
    margin-bottom: 2rem;
}

@media screen and (max-width: 992px){
    .about-us {
        padding: 5rem 0rem 0rem 0rem;
    }
}