.navbar {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: start;
  color: #F5F5F5;
  background-color: #000000;
  li {
    padding-left: 2rem;
  }
  .nav-link:hover {
    font-weight: 700;
    color: #F5F5F5;
  }
  .nav-link.active {
    font-weight: 700;
    font-size: 1.4rem;
    color: #F5F5F5;
  }
  .nav-link {
    color: #F5F5F5;
  }
}

.navbar-toggler {
  background-color: #F5F5F5;
}

@media screen and (max-width: 992px){
  .navbar {
    li {
      padding-left: 0rem;
    }
  }
}
